<div class="reviews">
    <div class="title">
        <h3>What are people saying? </h3>
        <p><span> 4.9/5 </span> on Facebook </p>
        <a href=""> Read all reviews </a>
    </div>
    <div class="read_all_reviews">
        <div class="Karman">
            <h1>Karman</h1>
            <h3>2017 Buick Encore</h3>
            <ul>
                <li *ngFor="let i of array"><img src="../../../../assets/star.png" alt=""></li>
            </ul>
            <p>I am enjoying my 2017 buick encore. The sales process was good. The salesperson Mikelle was very patient
                and kind. There was a few hiccups but the company was willing to fix them. And they made sure they were
                fixed. The car was brought to me and I was glad for that.</p>
        </div>
        <div class="Jacob">
            <h1>Jacob</h1>
            <h3>2018 Chevrolet Trax</h3>
            <ul>
                <li *ngFor="let i of array"> <img src="../../../../assets/star.png" alt=""></li>
            </ul>
            <p>Everyone from top to bottom was amazing. Start to finish I could not have been happier. Contacted on a
                Saturday and by Tuesday I signed the paperwork. Saturday car was delivered and in hand. Thank you to the
                entire Beep Auto Team.</p>
        </div>
        <div class="Nina">
            <h1>Nina</h1>
            <h3>2017 Mitsubishi Outlander</h3>
            <ul>
                <li *ngFor="let i of array"> <img src="../../../../assets/star.png" alt=""></li>
            </ul>
            <p>Sarah called me, I told her what I was looking for and how much I wanted to spend. She emailed me within
                minutes with exactly what i was looking for so I told her let's move forward. Mikelle called, walked me
                through the e-sign and I was done within 20 minutes. My car was delivered to my house with a full tank
                of gas... I recommend this place and I will only buy cars from this company from now on... 
                <a href="">read more</a>
            </p>
        </div>
    </div>
</div>