<div class="find-the-car">
    <div class="title">
        <h1>Find the right car for you.</h1>
        <h3>Select a body style to see what we have in your price range.</h3>
    </div>
    <div class="body-styles">
        <div>
            <img src="../../../../assets/car 1.png" alt="">
            <a href=""> View sedans </a>
        </div>
        <div>
            <img src="../../../../assets/car 2.png" alt="">
            <a href=""> View midsize </a>
        </div>
        <div>
            <img src="../../../../assets/car 3.png" alt="">
            <a href=""> View SUVs </a>
        </div>
        <div>
            <img src="../../../../assets/car 4.png" alt="">
            <a href=""> View trucks </a>
        </div>
    </div>
</div>