<div class="container">
    <div class="information">
        <h1>Shop inventory customized for you</h1>
        <h3>We make shopping easier by matching you to a vehicle in your budget and delivering it to your home. </h3>
        <button>Get started</button>  
        <a href=""> View our inventory </a>
        <p> 4.9  <span> <img src="../../../../assets/star.png" alt=""></span>  on Facebook</p>
    </div>
    <div class="img">
        <img src="../../../../assets/get-started-main-image.png" alt="">
    </div>
</div>